// bower:scss
// endbower

/*
	Variables 
*/
$font-ptsans: PT Sans Caption, sans-serif;
$font-titillium: Titillium Web, sans-serif;
$font-vesper: Vesper Libre, serif;
$black: #333333;

/*
	Mixins
*/
@mixin small-text() {
	text-transform: uppercase;
	font-weight: 600;
	display: block;
}

@mixin font-size($sizeValue) {
	font-size: ($sizeValue/10) + px;
	font-size: ($sizeValue/10) + rem;
}

@function strip-unit($num) {
 	@return $num / ($num * 0 + 1);
}

/*
	@include rem-fallback(margin, 10, 20, 30, 40);

	margin: 160px 320px 480px 640px;
	margin: 10rem 20rem 30rem 40rem; 
*/
@mixin rem-fallback($property, $values...) {
	$max: length($values);
	$pxValues: '';
	$remValues: '';

	@for $i from 1 through $max {
		$value: strip-unit(nth($values, $i));
		$pxValues: #{$pxValues + $value*16}px;

		@if $i < $max {
				$pxValues: #{$pxValues + " "};
			}
	} 

	@for $i from 1 through $max {
		$value: strip-unit(nth($values, $i));
		$remValues: #{$remValues + $value}rem;

		@if $i < $max {
			$remValues: #{$remValues + " "};
		}
	} 

	#{$property}: $pxValues; 
	#{$property}: $remValues; 
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

html {
	font-size: 62.5%;
	height: 100%;
	width: 100%;
	overflow: auto;
}

body {
	font-family: $font-titillium;
	text-rendering: optimizeLegibility;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
}

a {
	text-decoration: none;
	color: $black;
}

a:active {
	// background-color: red;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a img {
	border: none;
}

h1 {
	@include font-size(46);
}

h1.title {
	font-family: $font-vesper;
	margin-top: 0;
}

h2 {
	@include font-size(26);
}

h3 {
	@include font-size(18);
}

h4 {

}

p {
	letter-spacing: 0.1px;
	font-weight: 400;
	@include font-size(16);
}

.wrapper {
	position: relative;
	 overflow: auto;
}

/* Custom page header */
header {
	height: 65px;
	padding-top: 15px;
	width: 100%;
	border-bottom: 1px solid $black;

	.nav {

		li {
			display: inline;
			float: left;
			margin-right: 15px;

			a {
				@include font-size(12);
				@include small-text();
			}
	
			a:hover {
				color: #c04ce0;
				background-color: #eee !important;
			}

			a.activeSmall {
				color: #c04ce0;
			}	
		}
		
		li:last-child {
			margin-right: 0;
		}
	}

	
	h1 {
		width: 130px;
		height: 17px;
		text-indent: -999px;
		overflow: hidden;
		background: url("../images/logo.png") no-repeat;
		z-index: 100;
		color: #fff;
		font-weight: normal;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 2px;
		position: absolute;
		top: 5px;
		left: 50%;
		text-align: center;
		margin-left: -65px;
		transition: background 0.2s, opacity 1s;

		a {
			display: block;
		}
	}
	h1:hover {
		// background-color: #c04ce0;
	}
} //End header

.landing-header {
	position: absolute;
	z-index: 99;
	border: none;
}

.main-header {
	// border: 1px solid blue;
}

.main-page {
	margin-top: 80px;
}


/* Custom page footer */
footer {
	padding: 30px 0;
	border-top: 1px solid $black;

	li {
		@include font-size(12);
		@include small-text();
	}
}

.list-icon {
	width: 19px;
	height: 19px;
	opacity: 1;
	top: 14px;
}

.list-icon span {
	display: block;
	height: 0;
	padding-bottom: 2px;
	border-top: 2px solid #000;
	transition: border 0.35s;
}

.line1 {
	width: 15px;
}

.line2 {
	width: 19px;
}

.line3 {
	width: 13px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}

/**
 *  Page transition
 */

.view-enter, .view-leave {
	transition: all .5s;
}

.view-enter {
	left: 20px;
	opacity: 0;
	position: absolute;
	top: 0;
}

.view-enter.view-enter-active {
	left: 0;
	opacity: 1;
}

.view-leave {
	left: 0;
	opacity: 1;
	position: absolute;
	top: 0;
}

.view-leave.view-leave-active {
	left: -20px;
	opacity: 0;
}






