<div class="container main-page">
	<div class="row">
		<div class="pull-left col-xs-7"> 
			<h1 class="title">A little bit about myself</h1>
			<p>
				Hello there, my name is Jessica Lee and I'm a fashion-designer from Vancouver, Canada.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab illum quam, unde quos ut inventore atque numquam, nam iure officiis, est dolores omnis rem eligendi? Fugit repellat, minima quisquam expedita.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta rerum, accusantium, assumenda corporis excepturi ab asperiores reiciendis autem iure consequuntur amet necessitatibus suscipit facere ullam. Quae recusandae possimus illum ea!
			</p>
		</div>
		<div class="pull-right col-xs-3">
			<p><strong>SOME FACTS</strong></p>
			<ul>
				<li>
					<p>Lives in:</p>
					<p>Vancouver</p>
				</li>
				<li>
					<p>Currently:</p>
					<p>Studying at </p>
				</li>
				<li>
					<p>Likes:</p>
					<p>Shopping</p>
				</li>
			</ul>
		</div>
	</div>
</div>