<div bz-slider delay="delay" autoplay="true">
	<div class="bz-slide" ng-repeat="(i, slide) in slides" ng-show="i == $slideIndex" ng-class="slide.class">
		<img ng-src="{{ slide.image }}" />
		<h1>This is Main page</h1>
	</div>
	<!-- <div class="controls">
		<button ng-click="prev()" class="btn btn-primary">Prev</button>
		<button ng-click="play()" ng-if="!$play" class="btn btn-primary">Play</button>
		<button ng-click="stop()" ng-if="$play" class="btn btn-primary">Stop</button>
		<button ng-click="next()" class="btn btn-primary">next</button>
	</div> -->
</div>
<!-- <button ng-click="delay = 1000" class="btn btn-default">Set delay 1s</button>
<button ng-click="delay = 2000" class="btn btn-default">Set delay 2s</button> -->




<!-- <div class="jumbotron">
	<h1>'Allo, 'Allo!</h1>
	<p class="lead">
		<img src="images/yeoman.png" alt="I'm Yeoman"><br>
		Always a pleasure scaffolding your apps.
	</p>
	<p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
	<h4>HTML5 Boilerplate</h4>
	<p>
		HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
	</p>

	<h4>Angular</h4>
	<p>
		AngularJS is a toolset for building the framework most suited to your application development.
	</p>

	<h4>Karma</h4>
	<p>Spectacular Test Runner for JavaScript.</p>
</div> -->

